.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.picSect {
  width: 100%;
  height: 600px;
  position: relative;
  background-image: url("/teapot.jpg");
  background-size: cover;
  background-position: center;
}
.picSect h1 {
  position: absolute;
  font-size: 64px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  color: #fff;
}
.prodSect {
  width: 100%;
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.prodSect h1 {
  font-size: 56px;
}
.prodItems {
  padding: 50px;
  display: flex;
  gap: 45px;
}
.prodItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.prodImg {
  width: 324px;
}
.aboutSect {
  position: relative;
  background-image: url("/nature.jpg");
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center;
}
.aboutWrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.aboutWrap h1 {
  width: 400px;
  font-size: 56px;
  color: #fff;
}
.buttonWrap {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1200px) {
  .prodImg {
    width: 250px;
    height: 125px;
  }
}
@media (max-width: 992px) {
  .prodImg {
    width: 200px;
    height: 100px;
  }
}
@media (max-width: 768px) {
  .picSect {
    height: 250px;
  }
  .picSect h1 {
    font-size: 36px;
  }
  .prodSect h1 {
    font-size: 27px;
  }
  .prodItems {
    flex-direction: column;
  }
  .aboutWrap h1 {
    width: 50%;
    font-size: 27px;
  }
}
@media (max-width: 576px) {
  .picSect {
    height: 250px;
  }
  .picSect h1 {
    font-size: 36px;
  }
  .prodSect h1 {
    font-size: 27px;
  }
  .prodItems {
    flex-direction: column;
  }
  .aboutWrap h1 {
    width: 50%;
    font-size: 27px;
  }
}